USE master
GO
CREATE DATABASE J6Store
GO
USE J6Store
GO
CREATE TABLE Customers (
    username nvarchar(50) NOT NULL,
    password nvarchar(50) NOT NULL,
    fullname nvarchar(50) NOT NULL,
    email nvarchar(50) NOT NULL,
    photo nvarchar(50) NOT NULL,
    token nvarchar(50) NOT NULL,
    CONSTRAINT PK_Customers PRIMARY KEY CLUSTERED (username)
)
GO

CREATE TABLE Roles (
    id nvarchar(10) NOT NULL,
    name nvarchar(50) NOT NULL,
    CONSTRAINT PK_Roles PRIMARY KEY CLUSTERED (id)
)
GO

CREATE TABLE Categories (
    id char(4) NOT NULL,
    name nvarchar(50) NOT NULL,
    note nvarchar(255) NOT NULL,
    description nvarchar(255) NOT NULL,
    CONSTRAINT PK_Categories PRIMARY KEY CLUSTERED (id)
)
GO

CREATE TABLE Products (
    id int IDENTITY(1,1) NOT NULL,
    name nvarchar(50) NOT NULL,
    image nvarchar(50) NOT NULL,
    price float NOT NULL,
    quality int NOT NULL,
    createDate date NOT NULL,
    available bit NOT NULL,
    categoryId char(4) NOT NULL,
    CONSTRAINT PK_Products PRIMARY KEY CLUSTERED (id),
)
GO

CREATE TABLE Orders (
    id bigint IDENTITY(1,1) NOT NULL,
    username nvarchar(50) NOT NULL,
    createDate datetime NOT NULL,
    address nvarchar(100) NOT NULL,
    CONSTRAINT PK_Orders PRIMARY KEY CLUSTERED (id),
)
GO

CREATE TABLE OrderDetails (
    id bigint IDENTITY(1,1) NOT NULL,
    orderId bigint NOT NULL,
    productId int NOT NULL,
    price float NOT NULL,
    quality int NOT NULL,
    CONSTRAINT PK_OrderDetails PRIMARY KEY CLUSTERED (id),
)
GO

CREATE TABLE Authorities (
    id int IDENTITY(1,1) NOT NULL,
    username nvarchar(50) NOT NULL,
    roleId nvarchar(10) NOT NULL,
    CONSTRAINT PK_UserRoles PRIMARY KEY CLUSTERED (id),
)
GO
INSERT Customers (username, password, fullname, email, photo, token) VALUES (N'admin', N'123', N'Nguyễn Hoàng Duy', N'duyplusdz@gmail.com', N'user.png', N'token')
INSERT Customers (username, password, fullname, email, photo, token) VALUES (N'staff', N'123', N'Lê Thị Đậu', N'duyplus1999@gmail.com', N'user.png', N'token')
INSERT Customers (username, password, fullname, email, photo, token) VALUES (N'user', N'123', N'Nguyễn Văn Tèo', N'duyplus0909@gmail.com', N'user.png', N'token')
GO
INSERT Roles (id, name) VALUES (N'DIRE', N'Directors')
INSERT Roles (id, name) VALUES (N'STAF', N'Staffs')
INSERT Roles (id, name) VALUES (N'CUST', N'Customers')
GO
SET IDENTITY_INSERT Authorities ON 
INSERT Authorities (id, username, roleId) VALUES (1, N'admin', N'DIRE')
INSERT Authorities (id, username, roleId) VALUES (2, N'admin', N'STAF')
INSERT Authorities (id, username, roleId) VALUES (3, N'admin', N'CUST')
SET IDENTITY_INSERT Authorities OFF
GO
INSERT Categories (id, name, note, description) VALUES (N'1000', N'Đồng hồ đeo tay', N'Đồng hồ', N'Đồng hồ đeo tay')
INSERT Categories (id, name, note, description) VALUES (N'1001', N'Máy tính xách tay', N'Máy tính', N'Máy tính xách tay')
INSERT Categories (id, name, note, description) VALUES (N'1002', N'Máy ảnh', N'Máy ảnh', N'Máy ảnh chụp hình')
GO
SET IDENTITY_INSERT Products ON 
INSERT Products (id, name, image, price, quality, createDate, available, categoryId) VALUES (1001, N'Aniseed Syrup', N'1001.jpg', 190, 1, CAST(N'1980-03-29' AS Date), 0, N'1000')
INSERT Products (id, name, image, price, quality, createDate, available, categoryId) VALUES (1002, N'Change', N'1002.jpg', 19, 3, CAST(N'1982-12-18' AS Date), 0, N'1000')
INSERT Products (id, name, image, price, quality, createDate, available, categoryId) VALUES (1003, N'Aniseed Syrup', N'1003.jpg', 10, 5, CAST(N'1973-06-14' AS Date), 1, N'1001')
SET IDENTITY_INSERT Products OFF
GO
SET IDENTITY_INSERT Orders ON;
INSERT Orders (id, username, createDate, address) VALUES (10249, N'anatr', CAST(N'2024-07-05T00:00:00.000' AS DateTime), N'Luisenstr. 48')
INSERT Orders (id, username, createDate, address) VALUES (10250, N'anton', CAST(N'2024-07-08T00:00:00.000' AS DateTime), N'Rua do Paço, 67')
INSERT Orders (id, username, createDate, address) VALUES (10251, N'blonp', CAST(N'2024-07-08T00:00:00.000' AS DateTime), N'2, rue du Commerce')
SET IDENTITY_INSERT Orders OFF;
GO
SET IDENTITY_INSERT OrderDetails ON 
INSERT OrderDetails (id, orderId, productId, price, quality) VALUES (100005, 10249, 1051, 42.4, 40)
INSERT OrderDetails (id, orderId, productId, price, quality) VALUES (100006, 10250, 1041, 7.7, 10)
INSERT OrderDetails (id, orderId, productId, price, quality) VALUES (100007, 10250, 1051, 42.4, 35)
SET IDENTITY_INSERT OrderDetails OFF
GO
ALTER TABLE Customers ADD  DEFAULT (N'user.png') FOR photo
GO
ALTER TABLE OrderDetails ADD  DEFAULT ((0)) FOR price
GO
ALTER TABLE OrderDetails ADD  DEFAULT ((1)) FOR quality
GO
ALTER TABLE Orders ADD  DEFAULT (getdate()) FOR createDate
GO
ALTER TABLE Products ADD  DEFAULT (N'cloud-upload.jpg') FOR image
GO
ALTER TABLE Products ADD  DEFAULT ((0)) FOR price
GO
ALTER TABLE Products ADD  DEFAULT (getdate()) FOR createDate
GO
ALTER TABLE Products ADD  DEFAULT ((1)) FOR available
GO
ALTER TABLE Authorities WITH CHECK ADD CONSTRAINT FK_Authorities_Customers FOREIGN KEY (username)
REFERENCES Customers (username) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Authorities CHECK CONSTRAINT FK_Authorities_Customers
GO
ALTER TABLE Authorities WITH CHECK ADD CONSTRAINT FK_Authorities_Roles FOREIGN KEY (roleid)
REFERENCES Roles (id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Authorities CHECK CONSTRAINT FK_Authorities_Roles
GO
ALTER TABLE OrderDetails WITH CHECK ADD CONSTRAINT FK_OrderDetails_Orders FOREIGN KEY (orderId)
REFERENCES Orders (id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE OrderDetails CHECK CONSTRAINT FK_OrderDetails_Orders
GO
ALTER TABLE OrderDetails WITH CHECK ADD CONSTRAINT FK_OrderDetails_Products FOREIGN KEY (productId)
REFERENCES Products (id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE OrderDetails CHECK CONSTRAINT FK_OrderDetails_Products
GO
ALTER TABLE Orders WITH CHECK ADD CONSTRAINT FK_Orders_Customers FOREIGN KEY (username)
REFERENCES Customers (username) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Orders CHECK CONSTRAINT FK_Orders_Customers
GO
ALTER TABLE Products WITH CHECK ADD CONSTRAINT FK_Products_Categories FOREIGN KEY (categoryId)
REFERENCES Categories (id) ON DELETE CASCADE
GO
ALTER TABLE Products CHECK CONSTRAINT FK_Products_Categories
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customers', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mật khẩu đăng nhập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customers', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Họ và tên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customers', @level2type=N'COLUMN',@level2name=N'fullname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customers', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hình ảnh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customers', @level2type=N'COLUMN',@level2name=N'photo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã loại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên tiếng Việt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã chi tiết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hóa đơn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'orderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hàng hóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'productId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn giá bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng mua' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'quality'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hóa đơn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày đặt hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'createDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ nhận' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hàng hóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên hàng hóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hình ảnh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sản xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'createDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đang kinh doanh ?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'available'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã loại, FK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'categoryId'
GO
USE master
GO
